# Build artifacts
.aws-sam/

# Virtual environment
.venv/


# Python cache
__pycache__/
*.pyc
*.pyo

.idea
.aws-sam/
env.json

# CDK / Python
**/cdk.out/
**/.jsii-package-cache/
**/.venv/
**/__pycache__/
*.pyc

# LocalStack / local env
localstack/.env
.env
.env.local
week-01-lambda-basics/solution/samconfig.toml
